:root {
  --max-width: 50rem;
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* Layout */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
  font-family: 'Inter', sans-serif;
  line-height: 1.5;
  color: #222;
}

body > * {
  width: min(100%, var(--max-width));
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #000;
  text-decoration: underline rgb(189, 227, 200) solid 4px;
  text-underline-offset: 0.2rem;
}

a:hover {
  text-decoration-color: rgb(150, 204, 165);

}

.project-card, .blog-post, .project-post {
  background-color: #ffffff;
  transition: box-shadow 0.3s ease;
}

.post-meta, .project-post-meta {
  font-style: italic;
}

a {
  transition: color 0.3s ease;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

nav ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin-left: -1rem;
  margin-right: -1rem;
}

nav ul li {
  padding: 0.5rem 1rem;
}

nav [aria-current="page"] {
  font-weight: 600;
}

main {
  margin-top: 3rem;
}
/* Footer */

body > footer {
  margin-top: auto;
  padding-top: 2rem;
}

body > footer {
  border-top: 1px solid #ccc;
  padding-top: 0.5em;
  font-size: 0.9rem;
  color: #767676;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.social-icon svg {
  width: 18px;
  height: 18px;
  fill: #000
}

.social-icon svg:hover {
  fill: #808080;
}

/* Typography */

:is(h1, h2, h3) {
  line-height: 1.2;
}

:is(h1, h2) {
  max-width: 40ch;
}

p {
  max-width: var(--max-width);
  line-height: 1.6;
  margin-bottom: 1em;
}

/* Media */

.cover article img {
  display: block;
  width: 100%;
  min-height: 20rem;
  max-height: 40vh;
  object-fit: cover;
  margin: 2rem auto;
}

@supports (aspect-ratio: 1) {
  .cover article img {
    max-height: unset;
    aspect-ratio: 3/2;
  }
}

/* Supporting Content */

code:not([class*="language"]) {
  font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
  font-size: 1.75ex;
  color: #444;
  background-color: rgba(0, 0, 0, 0.1);
  padding-right: 0.15em;
  padding-left: 0.15em;
}

blockquote {
  margin: 2rem 0;
  padding: 0.5em 1rem;
  border-left: 3px solid rgba(0, 0, 0, 0.35);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 0 0.25rem 0.25rem 0;
}

/* Home page styles */

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-height: 30vh;
  margin-top: 6vh;
}

.hero div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero h1 {
  font-size: 2.5em;
  text-align: center;
}

.hero p {
  font-size: 1.2em;
  text-align: center;
}

.hero img {
  max-width: 10rem;
  height: auto;
  border-radius: 50%;
}

.cta {
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.5rem;
  border: 1px solid rgb(172, 212, 183);
  border-radius: 8px;
  text-align: center;
  background-color: rgb(219, 238, 225);
  cursor: pointer;
}

.cta:hover {
  background-color: rgb(189, 227, 200);
}

.availability {
  margin-left: 1rem; /* Adjust as needed */
  color: green; /* Color of the text */
}

.availability i {
  margin-right: 0.5rem; /* Space between icon and text */
}

.skills {
  margin: 3em 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 0.5rem;

  @media screen and (min-width: 768px) {
    padding: 0 1rem;
  }
}

.skill {
  display: inline-block;
  margin-bottom: -1em;
  padding: 0.3rem 0.8rem;
  border-radius: 20px;
  font-size: 0.9rem;
  background-color: rgb(219, 238, 225);
}

@media (max-width: 768px) {
  .skills-container {
    justify-content: center;
  }
  
  .skill {
    font-size: 0.8rem;
    padding: 0.4rem 0.8rem;
  }
}


/* Blog post list styles */

.blog-post-list {
  display: flex;
  list-style-type: none;
  padding-left: 0;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.blog-post-list-title {
  font-size: 1.2em;
  margin-bottom: 0.5rem;
}

.blog-post-list-date {
  font-size: 0.9rem;
}


/* Project filter styles */

.tag-filters {
  margin-bottom: 2rem;
}

.tag-filters h3 {
  margin-bottom: 1rem;
}

.tag-filter {
  display: inline-block;
  padding: 0.5rem 1rem;
  margin: 0.25rem;
  border-radius: 20px;
  font-size: 0.9rem;
  transition: all 0.3s ease;
  background-color: #f0f0f0;
  color: #333;
  border: none;
  cursor: pointer;
}

.tag-filter:hover, .tag-filter.active {
  background-color: rgb(219, 238, 225);
}

.project-card {
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.project-card.hidden {
  display: none;
  opacity: 0;
  transform: scale(0.8);
}


/* Project list styles */

.projects {
  display: grid;
  gap: 2rem;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.projects a {
  text-decoration: none;
  color: inherit;
}

.project-card {
  border: 1px solid #ddd;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  color: inherit;
  flex: 1 1 calc(33.333% - 1rem); /* Three cards per row, adjust as needed */
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.project-card img {
  max-width: 100%;
  max-height: 30rem;
  border-radius: 8px;
  object-fit: cover;
}
.project-card-title {
  font-size: 2em;
  text-decoration: underline rgb(189, 227, 200) solid 4px;
  text-underline-offset: 0.2rem;
}

.project-card-description {
  text-decoration: none !important;
  margin-bottom: 0.5rem;
}

.project-card-tag {
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
  line-height: 1.2;
  margin: 0.2rem;
  background-color: rgb(219, 238, 225);
  color: #333;
  border-radius: 1.5rem;
}

.project-card-tag:hover {
  background-color: rgb(189, 227, 200);
}


/* Blog post styles */

.blog-post {
  max-width: var(--max-width);
  margin-bottom: 2rem;
} 

.blog-post img {
  max-width: 100%;
  height: auto;
}

.blog-post p,
.blog-post ul,
.blog-post ol,
.blog-post blockquote,
.blog-post pre,
.blog-post table,
.blog-post iframe {
  margin: 1rem 0;
}

.post-description {
  margin-top: 1rem;
}

.post-title {
  margin: 2em 0 0.6em 0;
}

.post-image {
  max-width: 100%;
}

.post-meta {
  font-size: 1em;
  color: #666;
  margin-bottom: 1em;
}

/* project page styles */

.project-post {
  max-width: var(--max-width);
  margin-bottom: 2rem;
} 

.project-post p,
.project-post ul,
.project-post ol,
.project-post blockquote,
.project-post pre,
.project-post table,
.project-post iframe {
  margin: 1rem 0;
}

.project-post img {
  max-width: 100%;
  height: auto;
}

.project-post-description {
  margin-top: 1rem;
}

.project-post-title {
  margin: 2em 0 0 0;
}

.project-post-meta {
  font-size: 1em;
  color: #666;
  margin-bottom: 1em;
}

.project-post iframe {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}